html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: rgb(246, 238, 226);
}

header{
    position: static;
    display: flex;
    justify-content: center;
    background-color: rgb(34, 34, 115);
    padding: 15px;
}

header .logo{
    display: flex;
    margin-left: auto;
}

header .contact{
    display: flex;
    margin-right: auto;
    justify-content: center;
}

header .logo img{
    width: 70px;
    border-radius: 90px;
    margin-left: auto;
}

header .logo h3{
    color: rgb(255, 255, 255);
    margin: auto 0 auto 0;
    padding-right: 10px;
    font-size: 30px;
}

header .contact p{
    color: rgb(255, 255, 255);
    margin-right: auto;
    margin: 12px 0 auto 0;
    font-size: 17px;
    padding-right: 40px;
}

.secondheadear{
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: center;
}
.secondheadear .icon{
    width: 60px;
    margin-left: 70px;
}
.secondheadear a{
    text-decoration: none;
    padding-right: 15px;
    padding: 20px 60px 20px 60px;
    color: black;
    font-size: 20px;
    margin: 0 0 0 0;
}

.secondheadear .flag{
width: 70px;
border-radius: 20px;
}

.secondheadear a:hover{
    background-color: rgb(215, 215, 215);
}


.secondheadear ul{
    list-style: none;
    display: flex;
    margin: auto auto;
}

.secondheadear .lang{
    list-style: none;
    display: flex;
    margin: auto 0px auto auto;
}

.secondheadear .lang img {

    padding: 10px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(34, 34, 115);
    padding: 15px;
}

footer img{
    width: 70px;
    border-radius: 90px;
}

footer p{
    color: rgb(255, 255, 255);
    margin: 20px 150px 20px 150px;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
}


.mainpics{
    display: flex;
    width: 100%;
    justify-content: center;
}

.mainpics img {
    width: 33.3333%;
    border-radius: 30px;
}

.sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 20px 20px;
    background-color: rgb(224, 224, 224);
}

.sec h2{
    font-size: 30px;
    padding: 10px;
}

.sec h3{
    font-size: 15px;
    padding: 10px;
    line-height: 40px;
    text-align: center;
}

.factimgs{
    display: flex;
    justify-content: center;
    background-color: white;

}

.factimgs img{
    width: 120px;
    padding: 2px 1px 2px 1px;
    border-radius: 20px;
}

.products img{
    display: flex;
    width: 80%;
    margin: 15px auto 15px auto;
    border-radius: 20%;
    border: solid 1px gray;
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}








/**
* For small screens ( < 639px )
**/
@media screen and (max-width: 639px) {

    html{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }  

    

    main{
        width: 100%;
    }

    header{
        width: 94.3%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer{
        width: 100%;
        padding: 0px;
  
    }

    footer p{
        font-size: 15px;
        padding: 0px;
        line-height: 20px;
        margin: 20px 20px;
    }

    footer img{
        padding: 10px;
    }   

    .secondheadear{
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        border: solid 1px gray;
    }

    header .logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px auto;
    }
    
    header .contact{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: auto auto auto auto;

    }

    header .logo img{
        width: 20%;
        border-radius: 100%;
        margin: 0 auto 0 5px;
    }
    
    header .logo h3{
        color: rgb(255, 255, 255);
        margin: auto 0 auto auto;
        padding: 5px;
        font-size: 20px;
    }

    header .contact p{
        color: rgb(255, 255, 255);
        margin: auto;
        font-size: 80%;
        font-weight: bolder;
    }

    .secondheadear .icon{
        width: 10%;
        margin-left: auto;
        margin-right: auto;
    }
    .secondheadear a{
        text-decoration: none;
        padding: 5px 10px;
        margin-left: 5px;
        margin-right: 5px;
        color: black;
        font-size: 100%;
        border: solid 1px black;
        border-radius: 15px;
    }
    
    .secondheadear .flag{
    width: 11%;
    border-radius: 20px;
    }

    .secondheadear ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7px;
        margin-bottom: 7px;

    }

    .secondheadear .lang{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .secondheadear .lang a{
        margin: auto 0;
    }

    .sec{
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 20px 5px 20px;
        background-color: rgb(224, 224, 224);
    }

    .sec h2{
        font-size: 20px;
        padding: 5px 20px;
        text-align: center;
    }
    
    .sec h3{
        font-size: 10px;
        padding: 20px;
        line-height: 40px;
        text-align: center;
    }

     .factimgs img{
        width: 80px;
    }

    
}

/**
* For medium screens ( 640px -> 767px )
**/
@media screen and (min-width: 640px) and (max-width: 767px) {

  
    html{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }  

    

    main{
        width: 100%;
    }

    header{
        width: 94.3%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer{
        width: 100%;
        padding: 1px;
  
    }

    footer p{
        font-size: 15px;
        padding: 0px;
        line-height: 20px;
        margin: 20px 20px;
    }

    .secondheadear{
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        border: solid 1px gray;
    }

    header .logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px auto;
    }
    
    header .contact{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto auto auto auto;

    }

    header .logo img{
        width: 20%;
        border-radius: 100%;
        margin: 0 auto 0 5px;
    }
    
    header .logo h3{
        color: rgb(255, 255, 255);
        margin: auto 0 auto auto;
        padding: 5px;
        font-size: 20px;
    }

    header .contact p{
        color: rgb(255, 255, 255);
        margin: auto;
        font-size: 80%;
        font-weight: bolder;
    }

    .secondheadear .icon{
        width: 10%;
        margin-left: auto;
        margin-right: auto;
    }
    .secondheadear a{
        text-decoration: none;
        padding: 5px 10px;
        margin-left: 5px;
        margin-right: 5px;
        color: black;
        font-size: 100%;
        border: solid 1px black;
        border-radius: 15px;
    }
    
    .secondheadear .flag{
    width: 11%;
    border-radius: 20px;
    }

    .secondheadear ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7px;
        margin-bottom: 7px;

    }

    .secondheadear .lang{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .secondheadear .lang a{
        margin: auto 0;
    }

    .sec{
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 20px 5px 20px;
        background-color: rgb(224, 224, 224);
    }

    .sec h2{
        font-size: 20px;
        padding: 5px 20px;
        text-align: center;
    }
    
    .sec h3{
        font-size: 10px;
        padding: 20px;
        line-height: 40px;
        text-align: center;
    }

     .factimgs img{
        width: 100px;
    }
    
}
    


